<div class="header">
    <div class="header__main-picture" routerLink="/products">
        <img src="../../assets/ozonPicture.png" class="ozonPicture"> 
    </div>
    <div class="header__search">
        <div class="border-wrapper"></div>
        <input
            (click)="openDropDown()"
            (ngModelChange)="openDropDown()"
            class="header__search__line"
            type="text"
            placeholder="Искать на Ozon"
            [(ngModel)]="searchProduct"
        />

        <div 
            clickOutside (clickOutside)="closeDropDown()"
            *ngIf="showDropDown"
            class="header__search__dropdown"
        >
            <div
                (click)="selectBaskeProduct(basketProduct)"
                class="header__search__dropdown__state"
                *ngFor="let basketProduct of basketProducts | SearchProduct:searchProduct"
            >
                {{basketProduct.description}}
            </div>
        </div>

        <a 
            class="header__search__button"
            href="#"
            [routerLink]="['products']"
            [queryParams]="{'text': searchProduct}"
        >
            <img src="../../assets/Search.png" class="search-img">
        </a>
    </div>
    <div class="header__links">
        <a class="header__links__user" (click)="toggleToReg()">
            <a 
                *ngIf="responseStatusFlag"
                class="header__links__user__profile" 
                routerLink="/userProfile"
            >
            </a>
            <img src="../../assets/Face.png" class="header__links__user__img">
            <div class="header__links__user__name">Андрей</div>
        </a>
        <a class="header__links__basket" routerLink="/basket">
            <img src="../../assets/Cart.png" class="header__links__basket__img">
            <div class="header__links__counter">{{basketProducts.length}}</div>
            <div class="header__links__basket__title">Корзина</div>
        </a>
    </div>
</div>

<div *ngIf="toggleFlag" class="header__reg-wrapper" (click)="toggleToReg()">
    <app-registration 
        (click)="stayOnReg($event)" 
        class="header__reg-main"
        (toggleHeaderFlag)="toggleAuthFlag($event)"> 
    </app-registration>
</div>


<div *ngIf="authFlag" class="header__reg-wrapper" (click)="toggleAuthFlag()">
    <app-authorization 
        class="header__reg-main"
        (click)="stayOnReg($event)"
        (toggleHeaderFlagFromAuthToReg)="toggleAuthFlag($event)"
        (responseStatusFlag)="selectAuthorizationStatus($event)"
    > 
    </app-authorization>
</div>