/* basket private classes */
.basket {
    background-color: #f2f4f7;
    height: 600px;
    margin: 0;
    padding: 0;
}

.basket__basket-main {
    display: flex;
}

.basket__button-line {

}

.basket__title {
    margin-left: 7%;
    margin-top: 8%;
}

.basket__title__name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
}

.basket__title__counter {
    color: #c9bbbb;
}

.basket__list-item {
    height: 90%;
    width: 65%;
    background-color: #fff;
    margin-left: 7%;
}

.basket__list-item__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 150px;
}

.basket__list-item__item__checkbox {
    height: 0;
    margin-top: 60px;
}

.basket__list-item__item__picture {
    display: flex;
    margin-left: 2%;
}

.picture {
    width: 100px;
    height: 130px;
    margin: 0 10px 0 10px;
}

.basket__list-item__item__description {
    margin-top: 5px;
    display: inline;
    width: 100%;
    margin-bottom: 2px;
    font-size: 15px;
}

.basket__list-item__item__weight {
    display: inline;
    width: 100%;
    margin-bottom: 7px;
}

.basket__list-item__item__button {
    width: 100px;
    margin-bottom: 2px;
    color: #2963d6;
    font-size: 15px;

    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.basket__list-item__item__cost {
    margin-top: 30px;
    display: inline;
    height: 100%;
    margin-left: 10%;
    font-weight: bold;
}

.basket__list-item__item__sum-cost {
    display: inline;
    height: 100%;
}

.basket__list-item__item__info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.basket__list-item__item__quantity {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    margin-left: 15%;
}

.custom-pipe__gr {
    font-size: 14px;
    color: #b0aeae;
}

.custom-pipe__cost {
    font-size: 11px;
    color: #706f6f;
}

.count-selector {
    width: 65px;
}

.basket__button-line {
    height: 40px;
    border-bottom: 3px solid #f2f4f7;
    font-size: 14px;
}

.basket__button-line__checkbox {
    margin-left: 2%;
}

.basket__button-line__delete-checked {
    height: 100%;
    color: #e02828;
    /* font-size: 15px; */
    margin-left: 15px;
    font-size: 11px;
    
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}

.horizontal-line {
    width: 93%;
    border-bottom: 2px solid #e4e6eb;
    position: absolute;
    margin-top: 140px;
    text-align: center;
    margin-left: 2%;
}

.basket__order {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 25%;
    background-color: #fff;
    flex-direction: row;
    margin-left: 2%;
}

.order-button {
    background-color: #575cf2;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.basket__order__button-wrapper__description, .basket__order__total__products-cost {
    margin: auto;
    width: 90%;
    margin-bottom: 7%;
}

.basket__order__button-wrapper {
    border-bottom: 3px solid #f2f4f7;
}

.basket__order__total__item-basket > .products, .cost {
    display: inline;
}

.basket__order__total__item-basket {
    width: 90%;
    margin: auto;
    margin-top: 7%;
    font-weight: bold;
    font-size: 18.3px;
}

.basket__order__total__products-cost {
    margin-top: 6%;
    font-size: 12px;
    height: 10%;
    border-bottom: 2px solid #e4e6eb;
    font-weight: bold;
}

.basket__order__total {
    height: 100%;
}

.basket__order__total__end-cost {
    width: 90%;
    margin: auto;
    font-weight: bold;
    font-size: 18.3px;
}

.products, .cost, .end-cost {
    display: inline;
    float: right;
}

.products {
    height: 21px;
    margin: 0;
    margin-top: 4px;
    font-size: 13px;
}

.cost {
    font-weight: bold;
    color: black;
}

.cart__list-item {
    height: 90%;
    width: 65%;
    background-color: #fff;
    margin-left: 7%;
}

.cart__order {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 25%;
    background-color: #fff;
    flex-direction: row;
    margin-left: 2%;
}