<div class="auth__outer_block">
    <div class="auth">
        <p>Нет аккаунта?</p>
        <a class="auth__toReg" (click)="openReg()">
            Зарегистрируйтесь
        </a>
        <h3>Вход</h3>
        <form class="main_form"  [formGroup]="authorizationForm" (ngSubmit)="authorizationSubmit()">
            <div class="auth__email">
                <input 
                    class="clear_input"
                    type="text" 
                    name="login" 
                    placeholder="Email" 
                    formControlName="email"
                />
            </div>
            <div class="auth__password">
                <input 
                    class="clear_input"
                    type="password" 
                    name="password" 
                    placeholder="Пароль"
                    formControlName="password"
                />
            </div>
            <div class="auth__button">
                <button 
                    class="auth__button"
                    type="submit" 
                    [disabled]="authorizationForm.invalid"
                >
                    Войти
                </button>
            </div>
        </form>
    </div>
</div>