<div class="basket">
  <div class="basket__title">
      <div class="basket__title__name">Корзина</div>
      <sup class="basket__title__counter">{{cartProducts.length}}</sup>
  </div> <br> <br>

  <div class="basket__basket-main">
      <div class="basket__list-item">
          <div class="basket__button-line"  *ngIf="cartProducts.length">
              <input 
                  type="checkbox" 
                  class="basket__button-line__checkbox"
                  [(ngModel)]="masterSelected" 
                  (change)="checkUncheckAll()"
              /> Выбрать всё
              <button 
                  class="basket__button-line__delete-checked"
                  (click)="deleteCheckedProductsFromCart()"
              >
                  Удалить выбранные
              </button>
          </div>

          <app-cart-product *ngFor="let cartProduct of cartProducts" 
              [cartProduct]="cartProduct"
              [masterSelected]="masterSelected"
              (singleProductForOutput)="deleteProductFromCart($event)"
              (changeQuantityOutput)="ChangeQuantity($event)"

          > </app-cart-product>
      </div>
      <app-order-panel 
          class="basket__order"
          [cartProducts]="cartProducts"
      > </app-order-panel>
  </div>
</div>