<div class="basket">
    <div class="basket__title">
        <div class="basket__title__name">Корзина</div>
        <sup class="basket__title__counter">{{basketProducts.length}}</sup>
    </div> <br> <br>

    <div class="basket__basket-main">
        <div class="basket__list-item">
            <div class="basket__button-line"  *ngIf="basketProducts.length">
                <input 
                    type="checkbox" 
                    class="basket__button-line__checkbox"
                    [(ngModel)]="masterSelected" 
                    (change)="checkUncheckAll()"
                /> Выбрать всё
                <button 
                    class="basket__button-line__delete-checked"
                    (click)="deleteCheckedProductsFromBasket()"
                >
                    Удалить выбранные
                </button>
            </div>

            <app-basket-product *ngFor="let product of basketProducts" 
                [basketProduct]="product"
                [masterSelected]="masterSelected"
                (deleteBasketProductForOutput)="deleteProductFromBasket($event)"
                (changedProductQuantityForOutput)="putProductQuantityToBasket($event)"
            > </app-basket-product>
        </div>
        <app-basket-order-panel 
            class="basket__order"
            [basketProducts]="basketProducts"
        > </app-basket-order-panel>
    </div>
</div>