.header__search {
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search__line {
    width: 90%;
    height: 28px;
    padding-left: 5px;
}

.header__search__button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-img {
    height: 30px;
}