<div class="basket__list-item__item">
  <div class="basket__list-item__item__picture">
    <input
      type="checkbox"
      class="basket__list-item__item__checkbox"
      [(ngModel)]="cartProduct.isSelected"
      (change)="isAllSelected()"
    />
    <img
      src="{{ cartProduct.images[0] }}
      class="picture"
      alt="{{ cartProduct.alt }}"
      routerLink="/product-page/{{ cartProduct.id }}"
    />

    <div class="basket__list-item__item__info">
      <div class="basket__list-item__item__description">
        {{ cartProduct.description }}
      </div>
      <div class="basket__list-item__item__weight custom-pipe__gr">
        {{ cartProduct.weight * cartProduct.quantity }} гр
      </div>
      <button
        class="basket__list-item__item__button"
        (click)="deleteProductFromCart(cartProduct)"
      >
        Удалить
      </button>
    </div>
  </div>

  <div class="basket__list-item__item__cost">
    {{ cartProduct.price * cartProduct.quantity }}
  </div>
  <div class="basket__list-item__item__quantity">
    <mat-form-field class="select-wrapper">
      <mat-label>{{ cartProduct.quantity }}</mat-label>
      <mat-select
        class="count-selector"
        [(value)]="cartProduct.quantity"
        [(ngModel)]="cartProduct.quantity"
        (ngModelChange)="changeQuantity(cartProduct.quantity)"

      >

        <mat-option class="count-selector__option" value="1">1</mat-option>
        <mat-option class="count-selector__option" value="2">2</mat-option>
        <mat-option class="count-selector__option" value="3">3</mat-option>
        <mat-option class="count-selector__option" value="4">4</mat-option>
        <mat-option class="count-selector__option" value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="basket__list-item__item__sum-cost custom-pipe__cost">
      {{ cartProduct.price }} P/шт.
    </div>
  </div>
  <div class="horizontal-line"></div>
</div>
