.basket__list-item__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 150px;
}

.basket__list-item__item__checkbox {
    /* height: 0; */
    margin-top: 60px;
}

.basket__list-item__item__picture {
    display: flex;
    margin-left: 2%;
}

.picture {
    width: 100px;
    height: 130px;
    margin: 0 10px 0 10px;
}

.basket__list-item__item__description {
    margin-top: 5px;
    display: inline;
    width: 100%;
    margin-bottom: 2px;
    font-size: 15px;
}

.basket__list-item__item__weight {
    display: inline;
    width: 100%;
    margin-bottom: 7px;
}

.basket__list-item__item__button {
    width: 100px;
    margin-bottom: 2px;
    color: #2963d6;
    font-size: 15px;

    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.basket__list-item__item__cost {
    margin-top: 30px;
    display: inline;
    height: 100%;
    margin-left: 10%;
    font-weight: bold;
}

.basket__list-item__item__sum-cost {
    display: inline;
    height: 100%;
}

.basket__list-item__item__info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.basket__list-item__item__quantity {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    margin-left: 15%;
}

.custom-pipe__gr {
    font-size: 14px;
    color: #b0aeae;
}

.custom-pipe__cost {
    font-size: 11px;
    color: #706f6f;
}

.count-selector {
    width: 65px;
}

.basket__button-line {
    height: 40px;
    border-bottom: 3px solid #f2f4f7;
    font-size: 14px;
}

.basket__button-line__checkbox {
    margin-left: 2%;
}

.basket__button-line__delete-checked {
    height: 100%;
    color: #e02828;
    /* font-size: 15px; */
    margin-left: 15px;
    font-size: 11px;
    
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}

.horizontal-line {
    width: 93%;
    border-bottom: 2px solid #e4e6eb;
    position: absolute;
    margin-top: 8%;
    text-align: center;
    margin-left: 2%;
}

.select-wrapper {
    width: 60px;
    height: 40px;
}





