.content-block {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}
.product-block-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product-block {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.product-block-img{
    margin-bottom: 20px;
}
.product-block-img img{
    max-width: 100%;
}
.product-value {
    color: #000;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.product-description {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 40px;
}
.product-block .go-cart-btn {
    background-color: #0000FF;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;

    font-weight: 800;
    font-size: 12px;
    border-radius: 5px;
}

.profile-wrapper {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-column {
    display: flex;
    flex-direction: column;
}
.profile-column:first-child {
    width: 400px;
}
.profile-column:last-child{
    margin-left: 100px;
    width: 100%;
}
.profile-main-names {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 15px;
}
.links {
    text-decoration: none;
    color: #0000FF;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 700;   
}
.profile-information-fields {
    display: flex;
}
.profile-information-field {
    color: #000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
    width: 300px;
    margin-bottom: 30px;
    
}
.profile-data-block {
    border-bottom: solid #caccc8 1px;
}
.profile-data-block:last-child {
    border: none;
    margin-top: 30px;
}
.profile-data-block:last-child .links {
    color: red;
}