<div class="product-block">
  <div class="product-block-img">
    <img
      src="{{ cartProduct.path }}"
      alt="{{ cartProduct.alt }}"
      routerLink="/product-page/{{ cartProduct.id }}"
    />
  </div>
  <div class="product-value">
    {{ cartProduct.value }}
  </div>
  <div class="product-description">
    {{ cartProduct.name }}
  </div>
  <a
    class="go-cart-btn"
    (click)="addProductToCart(cartProduct)"
    [style.background-color]="isProductInCart ? 'green' : 'blue'"
  >
    В корзину</a
  >
</div>
