<div class="header">
    <div class="header__main-picture">
        <a routerLink="/product-list"><img src="../../assets/ozonPicture.png" class="ozonPicture"></a> 
    </div>


    <app-search-product></app-search-product>

    
    <div class="header__links">
        <div class="header__links__user" (click)="toggleToReg()">
            <a><img src="../../assets/Face.png" class="header__links__user__img"></a>
            <div class="header__links__user__name">Андрей</div>
        </div>
        <div class="header__links__basket">
            <a routerLink="/cart"><img src="../../assets/Cart.png" class="header__links__basket__img"></a>
            <div class="header__links__counter">{{products?.length}}</div>
            <div class="header__links__basket__title">Корзина</div>
        </div>
    </div>
</div>

<div *ngIf="toggleFlag" class="header__reg-wrapper" (click)="toggleToReg()">
    <app-singup 
        (click)="stayOnReg($event)" 
        class="header__reg-main"
        (toggleHeaderFlag)="toggleAuthFlag($event)"> 
    </app-singup>
</div>


<div *ngIf="authFlag" class="header__reg-wrapper" (click)="toggleAuthFlag()">
    <app-login 
        class="header__reg-main"
        (click)="stayOnReg($event)"
        (toggleHeaderFlagFromAuthToReg)="toggleAuthFlag($event)"> 
    </app-login>
</div>