
.content-block {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}
.product-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-block {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid gray 1px;
    border-top: solid gray 1px;
}
.product-block-img{
    margin-bottom: 20px;
}
.product-block-img img{
    max-width: 100%;
}
.product-value {
    color: #000;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.product-description {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 40px;
}
.product-block .go-cart-btn {
    background-color: #0000FF;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;

    font-weight: 800;
    font-size: 12px;
    border-radius: 5px;
}