<div class="basket__order">
    <div class="basket__order__button-wrapper">
        <a class="order-button">
            Перейти к оформлению
        </a>
        <div class="basket__order__button-wrapper__description custom-pipe__gr">
            Доступные способы и время доставки можно выбрать при оформлении заказа
        </div>
    </div>
    <div class="basket__order__total">
        <div class="basket__order__total__item-basket">
            Ваша корзина    
            <div class="products custom-pipe__gr">
                4 товара 205гр
            </div>
        </div>
        <div class="basket__order__total__products-cost custom-pipe__gr">
            Товары (4)
            <div class="cost">
                1978 P
            </div>
        </div>
        <div class="basket__order__total__end-cost">
            Общая стоимость
            <div class="end-cost">
                1 196 Р
            </div>
        </div>
    </div>
</div>