<div class="content-block">
  <div class="product-page__wrapper">
    <div class="product__main__img">
      <img src="../../assets/duck.jpg" alt="big duck" />
    </div>
    <div class="product__main__side__wrapper">
      <div class="product__main__side__name">{{ product?.name }}</div>
      <div class="product__main__side__column__wrapper">
        <div class="product__main__side__column__decription">
          <a pageScroll href="#test">Перейти к описанию</a>
        </div>
        <div class="product__main__side__column__box">
          <div
            class="product__main__side__column__box__value"
            [class.background-color]="buttonColor"
          >
            {{ product?.price }}
          </div>
          <div class="button-wrapper">
            <button class="go-cart" routerLink="/cart">
              В корзине {{ this.cartProduct?.quantity }} шт.
              <br />
              Перейти
            </button>
            <button
              class="add-to-cart"
              (click)="addProductToCart()"
              [style.background-color]="
                backgroundSwitch == true ? 'green' : 'blue'
              "
            >
              +1 шт.
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="priduct-page__description__name" id="test">
    Описание
  </div>
  <div class="product-page__description">
    {{ product?.description }}
  </div>
</div>
