<div class="content-block">
    <div class="product-page__wrapper">
        <div class="product__main__img">
            <img src="../../assets/duck.jpg" alt={{product?.alt}}>
        </div>
        <div class="product__main__side__wrapper">
            <div class="product__main__side__name">{{product?.description}}</div>
            <div class="product__main__side__column__wrapper">
                <div class="product__main__side__column__decription">
                    <a pageScroll  href="#description">Перейти к описанию</a>
                </div>
                <div class="product__main__side__column__box">
                    <div class="product__main__side__column__box__value">{{product?.price}} P</div>
                    <div class="buttons">
                        <button 
                            class="product__main__side__column__box__button__green" 
                            routerLink="/basket"
                        >
                            <div>В корзине {{basketProduct?.quantity}} шт.</div>
                            <div>Перейти</div>
                        </button>
                        <button 
                            class="product__main__side__column__box__button__blue" 
                            (click)="addProductToBasket()"
                        >
                            +1 шт.
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div id="description" class="priduct-page__description__name">
            Описание
        </div>
        <div class="product-page__description">
            Тут должно быть описание для каждого ID своё, надо добавить!
        </div>
    </div>
</div>