/* basket private classes */
.basket {
    background-color: #f2f4f7;
    height: 600px;
    margin: 0;
    padding: 0;
}

.basket__basket-main {
    display: flex;
}

.basket__button-line {

}

.basket__title {
    margin-left: 7%;
    /* height: 25%; */
}

.basket__title__name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
    /* width: 50px; */
    margin-top: 8%;
}

.basket__title__counter {
    color: #c9bbbb;
}

.basket__list-item {
    height: 90%;
    width: 65%;
    background-color: #fff;
    margin-left: 7%;
}

.basket__order {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 25%;
    background-color: #fff;
    flex-direction: row;
    margin-left: 2%;
}