.content-block {
    position: relative;
    width: 81.5%;
    margin: 0 auto;
}

/* Container */
.area {
    margin-left: auto;
    margin-right: auto;
}
/* Row */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col{
    float: left;
    padding: 15px;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid #ccc;
}

.profile-wrapper {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-column {
    display: flex;
    flex-direction: column;
}
.profile-column:first-child {
    width: 400px;
}
.profile-column:last-child{
    margin-left: 100px;
    width: 100%;
}
.profile-main-names {
    color: #000000;
    /* font-size: 17px; */
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 15px;
}
.links {
    text-decoration: none;
    color: #0000FF;
    font-size: 13px;
    margin-bottom: 15px;
    font-weight: 700;   
}
.profile-information-fields {
    display: flex;
}
.profile-information-field {
    color: #000;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
    width: 300px;
    margin-bottom: 30px;
    
}
.profile-data-block {
    border-bottom: solid #caccc8 1px;
}
.profile-data-block:last-child {
    border: none;
    margin-top: 30px;
}
.profile-data-block:last-child .links {
    color: red;
}