<div class="auth__outer_block">
    <div class="auth">
        <!-- <p>Нет аккаунта?</p>
        <a class="auth__toReg" (click)="openReg()">
            Зарегистрируйтесь
        </a> -->
        <h3>Вход</h3>
        <!-- <form class="main_form"  [formGroup]="authorizationForm" (ngSubmit)="authorizationSubmit()"> -->
            <!-- <div class="auth__email">
                <input 
                    class="clear_input"
                    type="text" 
                    name="login" 
                    placeholder="Email" 
                    formControlName="email"
                />

                <div 
                    class="authorization-validation"
                    *ngIf="authorizationForm.get('email').invalid && 
                        authorizationForm.get('email').touched"
                >
                    <small *ngIf="authorizationForm.get('email').errors.email">
                        Введите корректный Email
                    </small>

                    <small *ngIf="authorizationForm.get('email').errors.required">
                        Поле Email не может быть пустым
                    </small>
                </div>
            </div>
            <div class="auth__password">
                <input 
                    class="clear_input"
                    type="password" 
                    name="password" 
                    placeholder="Пароль"
                    formControlName="password"
                />

                <div 
                    class="authorization-validation"
                    *ngIf="authorizationForm.get('password').invalid && 
                        authorizationForm.get('password').touched"
                >
                    <small *ngIf="authorizationForm.get('password').errors.required">
                        Поле Пароль не может быть пустым
                    </small>
                </div> -->
            <!-- </div> -->
            <div class="auth__button">
                <!-- <button 
                    class="auth__button"
                    type="submit" 
                    [disabled]="authorizationForm.invalid"
                >
                    Войти
                </button> -->
            </div>
        <!-- </form> -->
    </div>
</div>