.content-block {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    /* display: flex; */
}
.product-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 81.5%;
    margin-left: auto;
    margin-right: auto;
}