<app-header></app-header>

<div class="content-block">
    <div class="product-page__wrapper">
        <div class="product__main__img">
            <img src="../../assets/duck.jpg" alt="big duck">
        </div>
        <div class="product__main__side__wrapper">
            <div class="product__main__side__name">Охуенная игрушка для ванны. "мама анархия"</div>
            <div class="product__main__side__column__wrapper">
                <div class="product__main__side__column__decription">
                    <a href="">Перейти к описанию</a>
                </div>
                <div class="product__main__side__column__box">
                    <div class="product__main__side__column__box__value">320 Р</div>
                    <button routerLink="../cart">go cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="priduct-page__description__name">
        Описание
    </div>
    <div class="product-page__description">
        реп говно моча параша панки хой пабеда нашшша1!
    </div>
</div>
